@mixin containerPadding() {
	padding-right: 10%;
	padding-left: 10%;
}

@mixin roundButton() {
	border-radius: 50%;
	border: 2px solid $greenLight;
	outline: none;
}

@mixin containerAbsolute() {
	position: absolute;
	border-radius: 4px;
}
