.footer {
	height: 14vh;
	width: 280px;
	@include containerPadding();
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid $greyLight;
	// display: none;
}
