.header {
	height: 10vh;
	@include containerPadding();
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $greenLight;
}

.header__logo {
	width: 13%;
}

.header__date {
	display: flex;
}

.header__date-number {
	color: $greenDark;
	font-size: 1.5em;
	margin-right: 5px;
}

.header__date-days h5 {
	color: $greyDark;
	line-height: 1.8em;
}

.header__date-days h6 {
	color: $greyLight;
}
