.header {
	height: 10vh;
	@include containerPadding();
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $greenLight;
	// display: none;
}

.header__logo {
	width: 13%;
}

.header__date {
	display: flex;
}

.header__date {
	display: flex;
	align-items: center;
}

.header__date-number {
	color: $greenDark;
	font-size: 2.2em;
	margin-right: 5px;
}

.header__day {
	color: $greyDark;
	line-height: 1.5em;
	font-size: .9em;
}

.header__month, .header__year {
	color: $greyLight;
	font-size: .7em;
}
