.header {
	height: 70px;
	padding-right: 10%;
	padding-left: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $backgroundLight;
}

.header__logo {
	width: 13%;
}

.header__date {
	display: flex;
}

.header__date-number {
	color: $backgroundDark;
	font-size: 1.5em;
	margin-right: 5px;
}

.header__date-days h5 {
	color: #696d67;
	line-height: 1.8em;
}

.header__date-days h6 {
	color: #a6a8a9;
}
