.task {
	display: flex;
	align-items: center;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 10%;
}

.task__button-check {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid $greenLight;
	margin-right: 15px;
}

.task__title {
	color: $greyDark;
}
